html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    position: absolute;
    bottom: 0;
}

#calc-body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    height: 600px;
    width: 400px;
    justify-content: flex-start;
    align-items: center;
    border: solid black 2px;
    border-radius: 10px;
}

#screen {
    background-color: white;
    height: 150px;
    width: 360px;
    margin: 20px auto;
    border: solid black 2px;
    border-radius: 10px;
}

#first-row {
    display: flex;
    width: 400px;
    height: 100px;
    justify-content: center;
}