html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    position: absolute;
    bottom: 10px;
}

#calc-body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    height: 600px;
    width: 400px;
    justify-content: flex-start;
    align-items: center;
    border: solid black 2px;
    border-radius: 10px;
}

#screen {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    background-color: white;
    height: 150px;
    width: 320px;
    margin: 20px auto;
    padding: 20px;
    border: solid black 2px;
    border-radius: 10px;
    font-size: 40px;
}

#first-row {
    display: flex;
    width: 400px;
    height: 100px;
    justify-content: center;
}

#clearBtn,
#deleteBtn {
    margin: 10px;
    width: 170px;
    height: 70px;
    border: solid black 2px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
}

#deleteBtn {
    background-color: rgb(252, 24, 24);
}

#clearBtn {
    background-color: blueviolet;
}

#btnGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn {
    width: 80px;
    height: 65px;
    margin: 4px;
    border: 2px solid black;
    border-radius: 10px;
}
